.banners {
    margin-top: 23px;
    display: -webkit-inline-flex;
    /* Safari */
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    .banner-item {
        flex: 1;
        height: 442px;
        width: 9%;
        background-color: aqua;
        // margin: 0 30px;
    }
    .full {
        // margin: 0 30px;
        background-image: url('../img/pizza2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        .content {
            margin-top: 53px;
            margin-left: 40px;
        }
        p {
            /* Style for "GRILLED CH" */
            display: block;
            text-shadow: 2px 4px 21px rgba(210, 198, 185, 0.76);
            color: #ffffff;
            font-family: "Yanone Kaffeesatz";
            font-size: 80px;
            font-weight: 700;
            line-height: 42px;
            text-transform: uppercase;
            /* Text style for "GRILLED CH" */
            font-weight: 700;
            letter-spacing: -0.8px;
            /* Text style for "" */
            font-size: 60px;
            font-weight: 700;
            letter-spacing: -0.6px;
            /* Text style for "SUMMER PIZ" */
            font-size: 42px;
            font-weight: 200;
            letter-spacing: -0.42px;
            span {
                display: block;
            }
        }
        .button {
            /* Style for "rounded ba" */
            width: 137px;
            height: 43px;
            border-radius: 10px;
            border-color: transparent;
            background-color: #f0002f;
            /* Style for "HOT & SPIC" */
            color: #ffffff;
            font-family: "Yanone Kaffeesatz";
            font-size: 20px;
            font-weight: 300;
            line-height: 9.22px;
            text-transform: uppercase;
            /* Text style for "HOT & SPIC" */
            letter-spacing: 0.22px;
        }
        .disclaimer {
            /* Style for "*ONLY IN L" */
            // width: 64px;
            // height: 11px;
            position: absolute;
            bottom: 10px;
            color: #ffffff;
            font-family: "Yanone Kaffeesatz";
            font-size: 14px;
            font-weight: 400;
            line-height: 42px;
            text-transform: uppercase;
            /* Text style for "*ONLY IN L" */
            letter-spacing: -0.14px;
        }
    }
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
    .banners {
        flex-wrap: wrap;
    }
    .banner-item:first-child {
        flex-basis: 100%;
    }
}

// Isotope CSS 
.grid {
    height: 100%;
    width: 25px;;
    // background-color: aquamarine;
}

.grid-item {
    width: 25%;
    height: 210px;
}

.grid-item--width2 {
    width: 50%;
}