@import "./utilities/_variables.scss";
@import "./mixins/_misc.scss";

.header {
    top: 5.4%;
    position: relative;
    height: 20%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: $grid-max-width;
}

.main-menu {
    display: flex;
    width: 100%;
    height: 38%;
    align-items: center;
    justify-content: space-between;
}

.logo2 {
    /* Style for "Pizzaro lo" */
    width: 17%;
    height: auto;

    &img {
        @include icons;
    }
}

.nav {
    width: 35%;
    height: auto;

    >ul.menu {
        list-style-type: none;


        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        >li a {
            border: 1px solid #bf0c26;
            list-style: none;

            display: inline-block;
            text-decoration: none;
            /* Text style for "Order Onli" */
            @include text(#fff, 'Open Sans', 0.9vw, 700, 1.5, -0.15px);

            &:hover::after {
                border-bottom: 1px solid #ffae00;
                width: 1.8vw;
                margin: 0 auto;
                content: "";
                display: block;
            }
        }
    }
}

.divider-nav {
    /* Style for "divider" */
    position: relative;
    top: 7%;
    width: auto;
    height: 1px;
    background-color: #ffffff;
    opacity: 0.17;
}

.contact {
    width: 16%;
    height: 66%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &-menu {
        /* Style for "Call and O" */
        /* Text style for "Call and O" */
        @include text($color: #ffae00, $line-height: 0.70vw);

        >span {

            /* Text style for "London" */
            >div.dropdown {
                position: relative;
                display: inline-block;
                @include text($color: #ffffff, $letter-spacing: -0.36px);
                cursor: pointer;

                >div.dropdown-content {
                    cursor: pointer;
                    display: none;
                    position: absolute;
                    background-color: #bf0c26;
                    min-width: 16%;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    padding: 12px 16px;
                    z-index: 1;
                    line-height: 1.6vh;
                }

                &.dropdown:hover .dropdown-content {
                    cursor: pointer;
                    display: block;
                }
            }
        }

        >span .down-caret {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 3px 3px 0 3px;
            border-color: #ffffff transparent transparent transparent;
            display: inline-block;
            margin-left: 2px;
            top: -2px;
            position: relative;
            transform: rotate(0deg);
            transition: all .25s ease-in;
        }

        .open-caret {
            transform: rotate(180deg);
            transition: all .25s ease-out;
        }
    }

    &-number {
        /* Style for "54 548 779" */
        /* Text style for "54 548 779" */
        @include text($font-size: 1.2vw, $font-weight: 700, $line-height: 1.8vw, $letter-spacing: -0.29px);
    }
}

.cart-base {
    /* Style for "Cart base" */
    width: 19%;
    height: 100%;
    background-color: #8ca93e;
    border-radius: 26px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &-info {
        width: 78%;
        height: 32%;
        @include text($font-size: .8vw, $font-weight: 700, $line-height: 1vw);

        &::after {
            content: "";
            display: block;
            width: 50%;
            height: 1px;
            position: relative;
            top: 30%;
            left: 25%;
            border: 3px solid #fff;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            -webkit-border-to-image: url('../img/bill-paper.png') 30 round;
            /* Safari 3.1-5 */
            -o-border-image: url('../img/bill-paper.png') 30 round;
            /* Opera 11-12.1 */
            border-image: url('../img/bill-paper.png') 30 round;
        }

        >span {
            width: 16%;
            height: auto;
            display: inline-block;
            vertical-align: ceil($number: -2);
            padding-right: 5px;

            >img {
                @include icons;
            }
        }
    }
}

.food-menu {
    height: 24%;
    position: relative;
    top: 25%;

    >ul {
        width: 100%;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    >ul>li {
        text-align: center;

        >a {
            text-decoration: none;
            @include text($color: #ffc0ca, $font-size: .9vw, $font-weight: 700, $line-height: 1.2vw);

            &:active {
                color: #fff;
            }

            &:hover {
                color: #fff;
            }

            >span {
                float: left;
                width: 30%;
                height: 100%;
                padding-right: 5px;

                >img {
                    @include icons;
                }
            }
        }
    }
}