// grid variables
$grid-columns: 12;
$grid-max-width: 65em;
 
 
// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";
$desk: 1200px;
$tablet: 800px;
$mobile: 600px;

$color1 : #c00a27;
$color2: #fff;
$color3: #f0002f;

$width: 1920;
$height: 881;

