.banners {
  margin: 8% 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: "row wrap";
  -moz-flex-flow: "row wrap";
  -ms-flex-flow: "row wrap";
  flex-flow: "row wrap";
  flex: 0 1 auto;
  height: 442px; }
  .banners .banner-item {
    -webkit-box-flex: "0 0 44%";
    -moz-box-flex: "0 0 44%";
    -webkit-flex: "0 0 44%";
    -ms-flex: "0 0 44%";
    flex: "0 0 44%";
    background-color: aqua;
    margin-left: 4%; }
  .banners .full {
    background-image: url("../img/pizza2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative; }
    .banners .full .content {
      margin-top: 53px;
      margin-left: 40px; }
    .banners .full p {
      /* Style for "GRILLED CH" */
      display: block;
      text-shadow: 2px 4px 21px rgba(210, 198, 185, 0.76);
      text-transform: uppercase;
      /* Text style for "" */
      color: #fff;
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 60px;
      font-weight: 700;
      line-height: 0.9vw;
      letter-spacing: -0.6px; }
      .banners .full p span {
        display: block;
        /* Text style for "GRILLED CH" */ }
        .banners .full p span strong {
          color: #fff;
          font-family: "Yanone Kaffeesatz", sans-serif;
          font-size: 60px;
          font-weight: 700;
          line-height: 42px;
          letter-spacing: -0.8px; }
        .banners .full p span small {
          /* Text style for "SUMMER PIZ" */
          color: #fff;
          font-family: "Open Sans", sans-serif;
          font-size: 42px;
          font-weight: 200;
          line-height: 42px;
          letter-spacing: -0.42px; }
    .banners .full .button {
      /* Style for "rounded ba" */
      width: 137px;
      height: 43px;
      border-radius: 10px;
      border-color: transparent;
      background-color: #f0002f;
      /* Style for "HOT & SPIC" */
      color: #ffffff;
      font-family: "Yanone Kaffeesatz";
      font-size: 20px;
      font-weight: 300;
      line-height: 9.22px;
      text-transform: uppercase;
      /* Text style for "HOT & SPIC" */
      letter-spacing: 0.22px; }
    .banners .full .disclaimer {
      /* Style for "*ONLY IN L" */
      position: absolute;
      bottom: 10px;
      color: #ffffff;
      font-family: "Yanone Kaffeesatz";
      font-size: 14px;
      font-weight: 400;
      line-height: 42px;
      text-transform: uppercase;
      /* Text style for "*ONLY IN L" */
      letter-spacing: -0.14px; }

@media (max-width: 768px) {
  .banners {
    flex-wrap: wrap;
    margin: 4% 2%; }
  .banner-item:first-child {
    flex-basis: 100%; } }

.grid {
  height: 100%;
  width: 25px; }

.grid-item {
  width: 25%;
  height: 210px; }

.grid-item--width2 {
  width: 50%; }
