.row {
  *zoom: 1; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 65em; }

.column-1 {
  padding-left: 15px;
  float: left;
  width: 8.33333%; }

.column-2 {
  padding-left: 15px;
  float: left;
  width: 16.66667%; }

.column-3 {
  padding-left: 15px;
  float: left;
  width: 25%; }

.column-4 {
  padding-left: 15px;
  float: left;
  width: 33.33333%; }

.column-5 {
  padding-left: 15px;
  float: left;
  width: 41.66667%; }

.column-6 {
  padding-left: 15px;
  float: left;
  width: 50%; }

.column-7 {
  padding-left: 15px;
  float: left;
  width: 58.33333%; }

.column-8 {
  padding-left: 15px;
  float: left;
  width: 66.66667%; }

.column-9 {
  padding-left: 15px;
  float: left;
  width: 75%; }

.column-10 {
  padding-left: 15px;
  float: left;
  width: 83.33333%; }

.column-11 {
  padding-left: 15px;
  float: left;
  width: 91.66667%; }

.column-12 {
  padding-left: 15px;
  float: left;
  width: 100%; }

@media only screen and (min-width: 30em) {
  .column-1 {
    width: 8.33333%; }
  .column-2 {
    width: 16.66667%; }
  .column-3 {
    width: 25%; }
  .column-4 {
    width: 33.33333%; }
  .column-5 {
    width: 41.66667%; }
  .column-6 {
    width: 50%; }
  .column-7 {
    width: 58.33333%; }
  .column-8 {
    width: 66.66667%; }
  .column-9 {
    width: 75%; }
  .column-10 {
    width: 83.33333%; }
  .column-11 {
    width: 91.66667%; }
  .column-12 {
    width: 100%; } }

.header {
  top: 5.4%;
  position: relative;
  height: 20%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 65em; }

.main-menu {
  display: flex;
  width: 100%;
  height: 38%;
  align-items: center;
  justify-content: space-between; }

.logo {
  /* Style for "Pizzaro lo" */
  width: 17%;
  height: auto; }
  .logoimg {
    width: 100%;
    height: auto; }

.nav {
  width: 35%;
  height: auto; }
  .nav > ul.menu {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .nav > ul.menu > li a {
      border: 1px solid #bf0c26;
      list-style: none;
      display: inline-block;
      text-decoration: none;
      /* Text style for "Order Onli" */
      color: #fff;
      font-family: "Open Sans", sans-serif;
      font-size: 0.9vw;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: -0.15px; }
      .nav > ul.menu > li a:hover::after {
        border-bottom: 1px solid #ffae00;
        width: 1.8vw;
        margin: 0 auto;
        content: "";
        display: block; }

.divider-nav {
  /* Style for "divider" */
  position: relative;
  top: 7%;
  width: auto;
  height: 1px;
  background-color: #ffffff;
  opacity: 0.17; }

.contact {
  width: 16%;
  height: 66%;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .contact-menu {
    /* Style for "Call and O" */
    /* Text style for "Call and O" */
    color: #ffae00;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 0.7vw;
    letter-spacing: -0.36px; }
    .contact-menu > span {
      /* Text style for "London" */ }
      .contact-menu > span > div.dropdown {
        position: relative;
        display: inline-block;
        color: #ffffff;
        font-family: "Open Sans", sans-serif;
        font-size: 0.9vw;
        font-weight: 400;
        line-height: 0.9vw;
        letter-spacing: -0.36px;
        cursor: pointer; }
        .contact-menu > span > div.dropdown > div.dropdown-content {
          cursor: pointer;
          display: none;
          position: absolute;
          background-color: #bf0c26;
          min-width: 16%;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          padding: 12px 16px;
          z-index: 1;
          line-height: 1.6vh; }
        .contact-menu > span > div.dropdown.dropdown:hover .dropdown-content {
          cursor: pointer;
          display: block; }
    .contact-menu > span .down-caret {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 3px 3px 0 3px;
      border-color: #ffffff transparent transparent transparent;
      display: inline-block;
      margin-left: 2px;
      top: -2px;
      position: relative;
      transform: rotate(0deg);
      transition: all .25s ease-in; }
    .contact-menu .open-caret {
      transform: rotate(180deg);
      transition: all .25s ease-out; }
  .contact-number {
    /* Style for "54 548 779" */
    /* Text style for "54 548 779" */
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2vw;
    font-weight: 700;
    line-height: 1.8vw;
    letter-spacing: -0.29px; }

.cart-base {
  /* Style for "Cart base" */
  width: 19%;
  height: 100%;
  background-color: #8ca93e;
  border-radius: 26px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .cart-base-info {
    width: 78%;
    height: 32%;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8vw;
    font-weight: 700;
    line-height: 1vw;
    letter-spacing: -0.36px; }
    .cart-base-info::after {
      content: "";
      display: block;
      width: 50%;
      height: 1px;
      position: relative;
      top: 30%;
      left: 25%;
      border: 3px solid #fff;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      -webkit-border-to-image: url("../img/bill-paper.png") 30 round;
      /* Safari 3.1-5 */
      -o-border-image: url("../img/bill-paper.png") 30 round;
      /* Opera 11-12.1 */
      border-image: url("../img/bill-paper.png") 30 round; }
    .cart-base-info > span {
      width: 16%;
      height: auto;
      display: inline-block;
      vertical-align: -2;
      padding-right: 5px; }
      .cart-base-info > span > img {
        width: 100%;
        height: auto; }

.food-menu {
  height: 24%;
  position: relative;
  top: 25%; }
  .food-menu > ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
  .food-menu > ul > li {
    text-align: center; }
    .food-menu > ul > li > a {
      text-decoration: none;
      color: #ffc0ca;
      font-family: "Open Sans", sans-serif;
      font-size: 0.9vw;
      font-weight: 700;
      line-height: 1.2vw;
      letter-spacing: -0.36px; }
      .food-menu > ul > li > a:active {
        color: #fff; }
      .food-menu > ul > li > a:hover {
        color: #fff; }
      .food-menu > ul > li > a > span {
        float: left;
        width: 30%;
        height: 100%;
        padding-right: 5px; }
        .food-menu > ul > li > a > span > img {
          width: 100%;
          height: auto; }

.slider-content {
  /* Style for "slider con" */
  width: 100%;
  height: 100%;
  background-color: #c00a27; }

.slogan {
  /* Style for "Slogan" */
  position: relative;
  top: 35%;
  left: 50%;
  width: 44%;
  height: 40%;
  min-height: 251px;
  transform: translate(-50%, -50%); }

img {
  width: 100%;
  height: auto; }

.divider {
  /* Style for "divider" */
  position: absolute;
  width: 89%;
  height: 22%;
  background-color: #c00a27;
  top: 0;
  background: linear-gradient(173deg, #c00a27 40%, #c00a27 49.6%, #fff 50%, #c00a27 50.4%, #c00a27 100%); }
  .divider_text {
    /* Style for "LIMITED TI" */
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    text-align: center;
    margin: auto;
    width: 45%;
    height: 62%;
    font-size: 1.9vw;
    font-weight: 400;
    line-height: 3.5vw;
    letter-spacing: 0.85px;
    text-transform: uppercase;
    font-family: "Yanone Kaffeesatz", sans-serif;
    color: #ffffff;
    transform: translateY(-50%) translateX(-50%) rotate(-3deg);
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(-6deg);
    -moz-transform: translateY(-50%) translateX(-50%) rotate(-3deg);
    background: #c00a27; }
  .divider span {
    padding: auto 5px; }

.tagbase {
  z-index: 1;
  position: relative;
  height: 80%;
  width: 14%;
  background-color: #ffae00;
  border-radius: 50%;
  top: 31%;
  left: 14%;
  text-align: center; }
  .tagbase_text {
    position: relative;
    width: auto;
    height: auto;
    top: 48%;
    left: 48%;
    font-size: 1.6vw;
    line-height: 1.6;
    letter-spacing: 1.19px;
    text-transform: uppercase;
    font-family: "Yanone Kaffeesatz", sans-serif;
    color: #ffffff;
    transform: translateY(50%) translateX(50%) rotate(-3deg);
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(-6deg);
    -moz-transform: translateY(-50%) translateX(-50%) rotate(-3deg); }

.promo-title {
  /* Style for "SUPREME BB" */
  position: relative;
  top: -6%;
  left: -5%;
  width: 76%;
  height: 28%;
  margin: 1px auto;
  text-align: center;
  text-shadow: 2px 4px 21px rgba(210, 198, 185, 0.76);
  color: #ffffff;
  font-size: 5vw;
  font-weight: 700;
  text-transform: uppercase;
  /* Text style for "SUPREME BB" */
  letter-spacing: 1.59px;
  text-transform: uppercase;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: #ffffff;
  transform: translateY(0%) translateX(0%) rotate(-3deg);
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(-6deg);
  -moz-transform: translateY(-50%) translateX(-50%) rotate(-3deg); }

.promo-subtitle {
  /* Style for "CHICKEN" */
  position: relative;
  left: 13%;
  width: 76%;
  height: 28%;
  text-align: center;
  text-shadow: 2px 4px 21px rgba(210, 198, 185, 0.76);
  color: #ffffff;
  font-size: 4vw;
  font-weight: 300;
  text-transform: uppercase;
  /* Text style for "CHICKEN" */
  letter-spacing: 2.33px; }
  .promo-subtitle:after {
    /* Style for "----------" */
    position: relative;
    top: 60%;
    width: 294px;
    height: 50px;
    content: "----------";
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 20.01px;
    /* Text style for "----------" */
    letter-spacing: 4.8px; }

.slider-nav {
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-self: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; }
  .slider-nav > li {
    margin-right: 6px; }
    .slider-nav > li:before {
      content: '';
      height: 10px;
      width: 10px;
      display: inline-block;
      background: #fff;
      border-radius: 6px;
      cursor: pointer;
      transition: all 300ms ease; }
    .slider-nav > li.active:before {
      width: 30px;
      background: #f0002f; }

.banners {
  margin-top: 23px;
  display: -webkit-inline-flex;
  /* Safari */
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around; }
  .banners .banner-item {
    flex: 1;
    height: 442px;
    background-color: aqua; }
  .banners .full {
    background-image: url("../img/pizza2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative; }
    .banners .full .content {
      margin-top: 53px;
      margin-left: 40px; }
    .banners .full p {
      /* Style for "GRILLED CH" */
      display: block;
      text-shadow: 2px 4px 21px rgba(210, 198, 185, 0.76);
      text-transform: uppercase;
      /* Text style for "" */
      color: #fff;
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 60px;
      font-weight: 700;
      line-height: 0.9vw;
      letter-spacing: -0.6px; }
      .banners .full p span {
        display: block;
        /* Text style for "GRILLED CH" */ }
        .banners .full p span strong {
          color: #fff;
          font-family: "Yanone Kaffeesatz", sans-serif;
          font-size: 60px;
          font-weight: 700;
          line-height: 42px;
          letter-spacing: -0.8px; }
        .banners .full p span small {
          /* Text style for "SUMMER PIZ" */
          color: #fff;
          font-family: "Open Sans", sans-serif;
          font-size: 42px;
          font-weight: 200;
          line-height: 42px;
          letter-spacing: -0.42px; }
    .banners .full .button {
      /* Style for "rounded ba" */
      width: 137px;
      height: 43px;
      border-radius: 10px;
      border-color: transparent;
      background-color: #f0002f;
      /* Style for "HOT & SPIC" */
      color: #ffffff;
      font-family: "Yanone Kaffeesatz";
      font-size: 20px;
      font-weight: 300;
      line-height: 9.22px;
      text-transform: uppercase;
      /* Text style for "HOT & SPIC" */
      letter-spacing: 0.22px; }
    .banners .full .disclaimer {
      /* Style for "*ONLY IN L" */
      position: absolute;
      bottom: 10px;
      color: #ffffff;
      font-family: "Yanone Kaffeesatz";
      font-size: 14px;
      font-weight: 400;
      line-height: 42px;
      text-transform: uppercase;
      /* Text style for "*ONLY IN L" */
      letter-spacing: -0.14px; }

@media (max-width: 768px) {
  .banners {
    flex-wrap: wrap; }
  .banner-item:first-child {
    flex-basis: 100%; } }

.grid {
  height: 100%;
  width: 25px; }

.grid-item {
  width: 25%;
  height: 210px; }

.grid-item--width2 {
  width: 50%; }
