@mixin icons {
    width: 100%;
    height: auto;
}


@mixin text($color:#fff, $font-family: 'Open Sans',$font-size:.9vw, $font-weight:400, $line-height: .9vw, $letter-spacing:-0.36px) {
    color: $color;
    font-family: $font-family, sans-serif;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}