@mixin slogantext{
    font-family: "Yanone Kaffeesatz";
    text-transform: uppercase;
    // text-align: center;
    font-family: "Yanone Kaffeesatz", sans-serif;
    transform:  rotate(-6deg);
    -webkit-transform:  rotate(-6deg);
    -moz-transform:  rotate(-6deg);
}