// grid variables
$grid-columns: 12;
$grid-max-width: 65em;


// breakpoints
$breakpoint-tablet: "only screen and (min-width: 45em)";
$breakpoint-desktop: "only screen and (min-width: 64em)";
$desk: 1200px;
$tablet: 800px;
$mobile: 600px;

$color1 : #c00a27;

$color2: #fff;
$color3: #eb272e;
$color4: #eee;

$width: 1920;
$height: 881;