@mixin slogantext{
    text-transform: uppercase;
    text-align: center;
    font-family: "Yanone Kaffeesatz", sans-serif;
    transform: rotate(-8deg);
    -webkit-transform:  rotate(-8deg);
    -moz-transform:  rotate(-8deg);
}