@import '../variables';
.slider-content {
  /* Style for "slider con" */
  position: relative;
  width: 100%;
  height: 80%;
  background-color: #c00a27;
}

.slogan {
  /* Style for "Slogan" */
  position: absolute;
  width: 526px;
  min-width: 426px;
  height: 33%;
  min-height: 251px; // margin: 20% auto 10%;  
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('../img/slogan.png');
  background-repeat: no-repeat; // background-size: 100% 100%;
}

.slider-nav {
  /* Style for "Slider Nav" */
  position: absolute;
  width: 8%;
  height: 10px;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  ul {
    list-style-type: none;
    position: relative;
    background-color: #c00a27;
    height: 10px;
    width: 8.6%;
  }
  ul li {
    position: relative;
    background-color: #fff;
    border-radius: 50px;
    float: left;
    top: 50%;
    left: 5%;
    height: 50%;
    width: 5%;
    transform: translate(-50%, -50%);
    margin-right: 5px;
    overflow: hidden;
  }
  li.active {
    background-color: #f0002f;
    width: 19%;
    margin-left: 10px;
  }
}

// .slider-dots{
//   // position: absolute;
//   background-color: $color2;
//   border-radius: 50%;
//   height: 90%;
//   width: 11%;
//   float: left;
//   margin-right: 5px;
// }