@import '../variables';

.slider-content {
  /* Style for "slider con" */
  position: relative;
  width: 100%;
  height: 80%;
  background-color: #c00a27;
}

.slogan {
  /* Style for "Slogan" */
  position: absolute;
  width: 526px;
  min-width: 426px;
  height: 33%;
  min-height: 251px; // margin: 20% auto 10%;  
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('../img/slogan.png');
  background-repeat: no-repeat; // background-size: 100% 100%;
}

.slider-nav {
  /* Style for "Slider Nav" */
  position: absolute;

  height: 10px;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  ul {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: default;
    width: 100%;
    height: 10px;
  }
  ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0 6px;
    width: 10px;
    height: 10px;
    cursor: pointer;
  }
  li a {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50%;
    /* 	background-color: #fff; */
    background-color: rgba(255, 255, 255, 0.3);
    text-indent: -999em;
    cursor: pointer; /* make the text accessible to screen readers */
    position: absolute;
  }

  //  Fill Up
  li a {
    overflow: hidden;
    background-color: #fff;
    transition: background 0.3s;
  }

  li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 0;
    left: 0;
    width: 100%;
    background-color: #f00;



  }

  li a:hover,
  li a:focus {
    background-color: #f45;
  }
  li.current {
    width: 35px;
    height: 10px;
    border-radius: 6px;
    background-color: $color3;


  }

  li.current a::after {
    height: 100%;


  }

}

